ENV=dev

API_HOST=localhost
API_PORT=3000

WEB_HOST=
WEB_PORT=5173

DB_HOST=localhost
DB_PORT=5432
DB_NAME=chat
DB_USER=chat
DB_PASSWORD=changeme

JWT_ACCESS_SECRET=insecure-dev-secret-do-not-use-in-prod
JWT_ACCESS_TTL=15m
REFRESH_TOKEN_TTL_DAYS=7